/* line 1, ../sass/_style.scss */
body {
  font-family: 'Crimson Text', serif;
}

/* line 5, ../sass/_style.scss */
main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  direction: ltr;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%;
}
/* line 102, ../sass/_griddo.scss */
main else {
  text-align: right;
}

/* line 8, ../sass/_style.scss */
section.slides {
  float: left;
  list-style: none;
  margin: 0;
  min-height: 1px;
  padding: 0 0.9375em;
  position: relative;
  width: 66.66667%;
}

/* line 11, ../sass/_style.scss */
aside {
  float: left;
  list-style: none;
  margin: 0;
  min-height: 1px;
  padding: 0 0.9375em;
  position: relative;
  width: 33.33333%;
}

/* line 15, ../sass/_style.scss */
a.site-name {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

/* line 21, ../sass/_style.scss */
.slide img {
  width: 387px;
  height: auto;
  border: 1px solid #aaa;
}
