<!doctype html>
<html lang="sv">
<head>
	<meta charset="utf-8">
  <title>{{ page.title }}</title>
	<meta name="description" content="">
  <meta name="author" content="{{ page.title }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/stylesheets/main.css">
</head>
<body>
	<header>
    <a class="site-name" href="/">Hans Isaksson</a>
 	</header>
	<main>
    {{ content }}
  </main> 
<footer>
</footer>
</body>
</html>
